    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
    }

    .header, .main-section {
        padding-top: 0;
        background-color: #EEEFF1;
    }

    .fixed-container {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1360px;
    }

    .menu-container {
        padding-top: 65px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        padding-left: 222.5px ;
    }

    .logo-pict {
        height: 38px;
    }

    .header-menu {
        padding-top: 6px;
        
    }

    .menu {
        display: flex;
    }

    nav ul li {
        text-transform: uppercase;
        list-style-type: none;
        letter-spacing: 1.3px;
        font-size: 16px;
    }

    nav ul li a {
        text-decoration: none;
        font-weight: 500;
        margin-left: 45px;
    }

    nav ul li a:hover {
        color: red;
    }

    .burger-icon {
        display: none;
        margin-top: 1px;
        margin-left: 20px;        
    }

    .burger-icon span {
        display: block;
        height: 7px;
        width: 45px;
        background-color: rgb(41, 85, 85);
    }

    .burger-icon span:nth-child(2) {
        margin: 6px 0px;
    }

    .section-container {
        display: flex;
        justify-content: space-between;
        padding-top: 145px;
        padding-bottom: 183px;

    }

    .laptop {
        padding-left: 303px;
        padding-top: 20px;
    }

    .caption {
        font-size: 48px;
        
    }

    .right-part{
        padding-left: 132px;
    }

    .description {
        
        margin-top: 42px;
        line-height: 27px;
        width: 540px;
        
    }

    .button {
        margin-top: 53px;
        height: 65px;
        width: 225px;
        background-color: #34547A;
        color: white;
        font-size: 16px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }

    .button:hover {
        background-color: rgb(48, 56, 83);
    }

    .section-content {
        padding: 400px 100px;
        border: 1px solid black;
    }

    .back {
        margin-left: 50px;
        font-size: 16px;
    }

    @media screen and (max-width: 1350px) {
        .description {
            margin-bottom: 70px;
            width: 100%;
        }
        .right-part {
            padding-left: 80px;
        }
        .laptop {
            padding-left: 20px;
        }
    }

    .mobile-container {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 12;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.8s ease 0s;
    }

    .mobile-container:target {
        opacity: 1;
        visibility: visible;
    }

    .popup__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .header-mobile {
        position: absolute;
        left:  50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 310px;
        height: 380px;
        background-color: rgba(79, 128, 192);
        border: 1px solid grey;
        border-radius: 10px;
        overflow: auto;
        font-size: 14px;        
    }

    .close-icon {
        width: 18px;
        padding-top: 12px;
    }

    .close-icon span {
        position: absolute;
        top: 20px;
        left: 270px;
        display: block;
        height: 1px;
        width: 20px;
        background: yellow;
    }

    .close-icon span:first-child {transform: rotate(45deg);}
    .close-icon span:last-child {transform: rotate(-45deg);}

    .mobile-list {
        padding-left: 25px;
        margin-top: 0px;
        padding-top: 65px;
        list-style-type: none;
        padding-left: 0;
        font-size: 18px;
    }

    .mobile-list li {
        text-align: center;
        padding-bottom: 10px;
        letter-spacing: -0.36px;
        padding-top:  9px;
        margin: 0 auto;
        border-bottom: 1px solid lightslategray;
        width: 120px;
        text-transform: uppercase;
    }

    .mobile-list a {
        text-decoration: none;
        color: white;
        outline: none;
        
    }

    .mobile-list a:hover {color: tomato;}

    @media screen and (max-width: 906px) {
        .logo {padding-left: 0;}

        .header-menu {display: none;}

        .section-container {
            display: block;
            align-content: center;
            padding-top: 50px;
            margin: 0 auto;
            justify-content: center;
        }

        .right-part {
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }

        .laptop {
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }

        .caption {font-size: 24px;}

        .menu-container {padding-top: 30px;}

        .burger-icon {
            display: block;
        }
    }

    @media screen and (max-width: 400px) {
        
        .laptop-img {width: 200px;}
        
        .burger-icon {
            display: block;
        }

        .burger-icon span {
            height: 2px;
            width: 20px;
        }

        .button {
            height: 40px;
            width: 150px;
            margin-top: 10px;
            font-size: 12px;
        }
    }